body {
  display: block;
  margin: 0px;

}
.heroOrder {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3vh;
  background: url('/static/images/ticket.jpg') no-repeat center center fixed;
  background-size: cover;
}

.order-form {
  padding: 325px;
  height: 259px;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
}

.meals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: -298px;
  margin-right: -298px;
}

@media (max-width: 991px) {
  .meals-container {
    justify-content: center;
  }
}

.meal-card {
  width: 23%;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .meal-card {
    width: 45%;
  }
}

.meal-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.meal-details {
  padding: 10px;
}

.meal-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.meal-price {
  margin: 10px 0;
  font-size: 16px;
  color: #888;
}

.meal-select {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.meal-select input[type="radio"] {
  margin-right: 5px;
}

.btn {
  padding: 20px 40px;
  position: absolute;
  left: 46%;
  top: 92%;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #0069d9;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

/* 1 */
.btn-1 {
  background: rgb(6,14,131);
  background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
  border: none;
}
.btn-1:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-1:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-1:active {
  top: 2px;
}
.btn-1:hover {
   background: rgb(0,3,255);
background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}