<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
</html>
<!--start of Sidebare-->
<section id="sidebar">
  <div class="seller">
      <div class="sellerHead">
          <a href="#"><img src="/static/images/admin.png"></a>
          <p class="center">THE ADMIN DASHBOARD</p>
      </div><!--sellerHead-->
  </div><!--seller-->
  <div id="sidebarNav">
      <ul class="noToplLine">
          <li><a href="/dashboard"><i class="fa fa-area-chart"></i>ADD MEALS</a></li>
          <li><a href="/meals"><i class="fa fa-area-chart"></i>MEALS LIST</a></li>
          <li><a href="/orders"><i class="fa fa-area-chart"></i>ORDERS</a></li>
          <li><a href="/log_out"><i class="fa fa-area-chart"></i>Logout</a></li>
      </ul>
  </div>
</section>
   
   <!--start of MainConent-->
   
   <!--start of MainConent-->
   <section id=content>
     <div class="header">
   <nav>
    <div class="heroMeals">
        <h1>Dashboard</h1>
        <form method="POST" enctype="multipart/form-data">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description"><br>
            <label for="price">Price:</label>
            <input type="text" id="price" name="price"><br>
            <label for="image">Image:</label>
            <input type="file" id="image" name="image"><br>
            <input type="submit" value="Add Meal">
        </form>
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
    </div>
    

    
    </section> <!--end ofwrap for 3 tabcontent-->    
   
     

   
   <footer>
   
   </footer>
