
<!DOCTYPE html>
<html>
    <head>
        <title>KITCHEN PAGE</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="/static/home.css" />
    </head>
</html>
<section class="hero">
    <header id="header">
      <img id="logo" src="/static/images/logo.jpeg"></img>
      <div>
        <button onclick="window.location.href='/login';" class="custom-btn btn-1">LOGIN</button></div>
      <div>
      <button onclick="window.location.href='/order';" class="custom-btn btn-1">Order Page</button></div>
    </header>
    <header class="hero-header">
      <h6 class="hero-title">Welcome to the Canteen Managmnet System</h6>
    </header>
    <footer class="hero-footer">
    </footer>
  </section>
  <article>
    <h2>SEWS-Monastir Canteen management system</h2>
    <p>Our canteen management system is a software application designed to streamline and automate the operations of a canteen in an organization or industry. The system typically includes features such as menu management, order placement, billing, inventory management, and reporting.</p>
    <p>Employees can use the system to view the menu, place orders, and make payments. The system can also track inventory levels, provide alerts when supplies are running low, and generate reports on sales and inventory. This allows canteen staff to manage their inventory more efficiently and reduce waste.</p>
    <p>Our canteen management system can also provide benefits to Employees, such as faster service, improved accuracy in order taking and billing, and the ability to view past orders and receipts. The system can be integrated with other software applications, such as accounting software or HR systems, to further streamline operations and reduce manual data entry.</p>
    <button onclick="window.location.href='/login';" class="custom-btn btn-16">HelpDesk</button>
  </article>