<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
</html>
<body>
<!--start of Sidebare-->
    <!--start of Sidebare-->
    <section id="sidebar">
      <div class="seller">
          <div class="sellerHead">
              <a href="#"><img src="/static/images/admin.png"></a>
              <p class="center">THE ADMIN DASHBOARD</p>
          </div><!--sellerHead-->
      </div><!--seller-->
      <div id="sidebarNav">
          <ul class="noToplLine">
              <li><a href="/dashboard"><i class="fa fa-area-chart"></i>ADD MEALS</a></li>
              <li><a href="/meals"><i class="fa fa-area-chart"></i>MEALS LIST</a></li>
              <li><a href="/orders"><i class="fa fa-area-chart"></i>ORDERS</a></li>
              <li><a href="/log_out"><i class="fa fa-area-chart"></i>Logout</a></li>
          </ul>
      </div>
  </section>
  </section>   
   <!--start of MainConent-->
   <section id=content>
     <div class="header">
   <nav>
    <div class="heroMeals">
        <h1>Dashboard</h1>
            <h2>Orders</h2>
            <table id="order-table">
              <tr>
                  <th>Name</th>
                  <th>HR ID</th>
                  <th>Meal</th>
                  <th>Order Time</th>
              </tr>
              {% for order in orders %}
              <tr>
                  <td style="color: rgb(8, 8, 8)"> {{ order.name }}</td>
                  <td style="color: rgb(8, 8, 8)"> {{ order.hr_id }}</td>
                  <td style="color: rgb(8, 8, 8)">
                      {% for meal in meals if meal.meals_id == order.meals_id %}
                          {{ meal.name }}
                      {% endfor %}
                  </td>
                  <td style="color: rgb(8, 8, 8)"> {{ order.order_time }}</td>
              </tr>
              {% endfor %}
          </table>
        </div>
        <form method="get" action="{{ url_for('download_csv') }}" style="position: absolute; left: 50% ; top: 75%; margin: 137px !important;
        padding: 28px !important; max-width: 310px !important;">
            <input type="submit" value="Dawnload file">
        </form>
    </div>  
    </section>       
      </body>
   <footer>
   </footer>
