<!-- dashboard.html -->
{% extends "base.html" %}
{% block content %}
<h1>Dashboard</h1>
<form method="POST" action="{{ url_for('dashboard') }}" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Meal Name" required>
    <input type="text" name="description" placeholder="Description" required>
    <input type="number" name="price" placeholder="Price" required>
    <input type="file" name="image" required>
    <button type="submit" value="Upload">Add Meal</button>
</form>
{% endblock %}